.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #195ee7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3 {
  text-align: center;
  color: black;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  text-align: center;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body{
  background-color: darkgrey;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/374/866/small/Background_1_A.jpg');
}

  /* Modify the background color */
    
.navbar-custom {
    background-color: lightgreen;
}
/* Modify brand and text color */
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}


table,
th,
td {
    border: 2px solid black;
    text-align: center;
    width: 150px;
    table-layout: auto;
    font-size: 40px;
    
}

/* setting the text-align property to center*/
td {
    padding: 5px;
    text-align: center;
    height: 200px;
    width: 150px;
}

#gameInfo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#gameInfo td, #gameInfo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#gameInfo tr{background-color: #2596be;}

#gameInfo tr:hover {background-color: transparent;}

#gameInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

.tableformat td:nth-child(1){
  width: 1000px;
}
.tableformat td:nth-child(2){
  width: 500px;
}
.tableformat td:nth-child(3){
  width: 500px;
}
.tableformat td:nth-child(4){
  width: 400px;
}

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}

.blockButton {
  display: block;
  border-radius: 24px;
  width: 25%;
  border: none;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

.blockButton:hover {
  background-color: #ddd;
  color: #2596be;
}

.currentUser{
  color: black;
  margin-left: 40px;
  text-align: center;
}

marquee {
  padding-bottom: 4px;
}

.userName{
  color: red;
}

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}
